h1 {
    color: royalblue;
} .nav-bar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    margin-right: 0px;
    display: block;
    list-style-type: none;

} .nav-bar a {
    float: left;
    display: block;
    color: rgba(255, 196, 0, 0.686);;
    text-align: left;
    padding: 14px 14px;
    margin-right: 20px;
    text-decoration: none;
} .nav-bar a:hover {  
    background: #ddd;
    color: black
} html {
    margin-top: 10px;
    /* the below media query is what makes the page responsive */
} @media only screen and (min-width: 600px) {

body {
    background-image: url(https://c.static-nike.com/a/images/w_1920,c_limit/mdbgldn6yg1gg88jomci/image.jpg);
    font-size: 19px;
    background-image: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

} .sign-up {
    color: rgba(255, 196, 0, 0.686);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

} .scroller {
    width: auto;
    height: auto;
    overflow-y: scroll;
    scrollbar-color: rgb(244, 244, 241);
    scrollbar-width: thin;
} 
    
 .flex-container {
    display: inline-block;
    flex-direction: column;
    color: rgba(255, 196, 0, 0.686);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(255, 196, 0, 0.686);
    text-align: left;
} div {

    margin: .5rem;
    padding: .5rem;
    background-color: black;
    font-weight: bold;

    
} .list-color {

    margin: .5rem;
    padding: .5rem;
    background-color: black;
    font-size: large;
} footer {
    color:rgba(255, 196, 0, 0.686);
} a:visited {

    color: rgba(255, 196, 0, 0.686);

} html, body {
    height: auto;
    width: auto;
}

html {
    display: table;
    
}

body {
    display: table-cell;
    vertical-align: middle;
} 
 .iframe-container {

    padding-bottom: 20px;
}

    




