h1 {
    color: royalblue;
} .nav-bar {
    overflow:hidden;
    background-color: black;
    position: fixed;
    top:0;
    width: 100%;
} .nav-bar a {
    float: left;
    display: block;
    color: rgba(255, 196, 0, 0.686);;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} .nav-bar a:hover {  
    background: #ddd;
    color: black
} .main {
    margin-top: 30px;
    /* the below media query is what makes the page responsive */
} @media only screen and (max-width: 2200px) {

body {
    background-image: url(https://c.static-nike.com/a/images/w_1920,c_limit/mdbgldn6yg1gg88jomci/image.jpg);
    font-size: 19px;
    background-image: no-repeat;
}

} .sign-up {
    color: rgba(255, 196, 0, 0.686);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    top: 70px; 
    left: 672px;

} .scroller {
    width: 300px;
    height: 120px;
    overflow-y: scroll;
    scrollbar-color: yellow;
    scrollbar-width: thin;
} html {
    height: 100%;

 } body {
     
    background-image: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;

} .form-center {
   margin: auto;
   width: 75%;
} form {
position: absolute;
top: 120px;
left: 740px;
} #video {
    position: absolute;
    top: 130px;
    left: 700px;
} .flex-container {
    display: flex;
    flex-direction: column;
    color: rgba(255, 196, 0, 0.686);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 700px;
    left: 500px;
    font-size: large;
    background-color: rgba(255, 196, 0, 0.686);
} div {

    margin: .5rem;
    padding: .5rem;
    background-color: black;
    font-weight: bold;

    
} .list-color {

    margin: .5rem;
    padding: .5rem;
    background-color: black;
    font-size: large;
} footer {
    color:rgba(255, 196, 0, 0.686);
    position: absolute;
    bottom: 1px;
    right: 10px
} a:visited {

    color: rgba(255, 196, 0, 0.686);
}

